@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

.slides{
    transition: linear 1s;
}

.slide{
  min-width:100%;
  overflow-y:auto;
  overflow-x: hidden;
  height:100%;
  padding:2rem;
  scrollbar-gutter: stable;
}


.showbar{
  overflow-y:hidden;
  overflow-x: auto;
  scrollbar-gutter: stable;
}

.showbar:hover{
  overflow-y: overlay;
}

.pageon ::after{
    content: "";
    margin-top: 3px;
    background-color: black;
    border-radius: 2px;
    height: 0.25rem;
    width: 40%;
    transform: translateX(75%);
    box-shadow:
    0 2px 8px rgb(211, 189, 255);
}

.BarShadow{
  box-shadow:
  0 6px 15px rgb(235, 233, 248); 

}

/* width */
::-webkit-scrollbar {
    width: 0.3rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(81, 81, 81); 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #150067; 
  }



  .bottom-sheet-enter-active, .bottom-sheet-exit-active {
    transition: all 0.3s ease;
    /* transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1); */
  }
  .bottom-sheet-enter,
  .bottom-sheet-exit-to {
    bottom: -100%;
    opacity: 0.1;
  }

/* Font */
.ZenDot {
  font-family: "ZenDots", sans-serif; 
  letter-spacing: 5px;
}

.SfProMeduim{
  font-family: "SfProMeduim", sans-serif; 
}

.SfProBold{
  font-family: "SfProBold", sans-serif; 
}


@font-face {
  font-family: "ZenDots"; 
  src: url("/Fonts/ZenDots-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SfProMeduim"; 
  src: url("/Fonts/SFPRODISPLAYMEDIUM.ttf") format("truetype");
}

@font-face {
  font-family: "SfProBold"; 
  src: url("/Fonts/SFPRODISPLAYBOLD.ttf") format("truetype");
}

  .stack-right-enter-active, .stack-right-exit-active {
    transition: all 0.3s ease;
  }
  .stack-right-enter,
  .stack-right-exit-to {
    left: 100%;
    opacity: 1;
  }

  .stack-left-enter-active, .stack-left-exit-active {
    transition: all 0.3s ease;
  }
  .stack-left-enter,
  .stack-left-exit-to {
    left: -100%;
    opacity: 1;
  }

  
  .sad-enter-active, .sad-exit-active {
    transition: all 0.3s ease;
  }
  .sad-enter,
  .sad-exit-to {
    opacity: 0;
  }



.pin-code{ 
  padding: 0; 
  margin: 0 auto; 
  display: flex;
  justify-content:center;
  
} 
 
.pin-code input { 
  border: none; 
  text-align: center; 
  width: 48px;
  height:48px;
  font-size: 36px; 
  background-color: #F3F3F3;
  margin-right:5px;
} 



.pin-code input:focus { 
  border: 1px solid #573D8B;
  outline:none;
} 


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.selected {
  background : "black",
}

/* .progress-container {
  position: relative;
  display: inline-block;
  background: gray;
  height: 20px;
  border-radius: 6px;
  overflow: hidden;
}


.progress-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 75%;
  background-color: black;
}  */

/* Change the color of the progress bar */
progress {
  width: 100%;
  height: 18px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* For WebKit browsers */
progress::-webkit-progress-bar {
  border-radius: 10px;
  background-color: #F1F1FA; /* Background color of the progress bar */
}

progress::-webkit-progress-value {
  border-radius: 10px;
  background-color: #13152B; /* Color of the filled portion */
}

/* For Mozilla browsers */
progress::-moz-progress-bar {
  border-radius: 6px;
  background-color: #13152B; /* Color of the filled portion */
}

/* For Internet Explorer */
progress {
  border-radius: 6px;
  color: #13152B; /* Color of the filled portion */
}