@tailwind base;
@tailwind components;
@tailwind utilities;

.slides{
    transition: linear 1s;
}

.slide{
  min-width:100%;
  overflow-y:hidden;
  overflow-x: hidden;
  height:100%;
  padding:1.25rem;
}

.slide:hover{
  overflow-y: scroll;
}

.pageon ::after{
    content: "";
    margin-top: 3px;
    background-color: black;
    border-radius: 2px;
    height: 0.25rem;
    width: 40%;
    transform: translateX(75%);
    box-shadow:
    0 2px 8px rgb(255, 162, 232);
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(81, 81, 81); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #150067; 
  }

